@font-face {
    font-family: 'Arial-MT';
    src: url('../assets/fonts/Arial-MT.woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background: url('../assets/img/bg.jpg') center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

/* audio player ----------------------------------------------------------------------------------------------------------------------------------------------- */
.progress-bar-audio {
    width: 170px;
    height: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 20px;
}

.progressed {
    width: 0%;
    height: 10px;
    border-radius: 20px;
    background-color: #00ffff;
}

.name-song {
    color: #00ffff;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 28px;
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px 5px 5px 30px;
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.play-item:hover {
    opacity: 1;
    cursor: pointer;
}

.play-item::before {
  content: "";
  background: url('../assets/player-logo/play.svg') center/cover no-repeat;
  background-size: contain; 
  display: inline-block;
  width: 20px; 
  height: 20px; 
  position: absolute;
  left: 0;
  top: 2px;
}


.item-active::before {
  background-image: url('../assets/player-logo/pause.svg');
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url('../assets/player-logo/play.svg');
}

.pause {
    background-image: url('../assets/player-logo/pause.svg');
}

.play-prev {
    background-image: url('../assets/player-logo/play-prev.svg');
}

.play-next {
    background-image: url('../assets/player-logo/play-next.svg');
}

.sound-adjustment {
    display: flex;
    align-items: center;
}

.switch-sound {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: url('../assets/player-logo/free-icon-sound-4225650.png')
        no-repeat center/cover;
}

.switch-sound.off-sound {
    background: url('../assets/player-logo/free-icon-no-sound-4225646.png')
        no-repeat center/cover;
}

.progress-sound {
    width: 145px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}
 /* weather------------------------------------------------------------------------------------------------------------------------------------------------ */
.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #ffffff;
    opacity: 0.6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    min-height: 260px;
    padding: 0px 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url('../assets/player-logo/slider-prev.svg');
}

.slide-next {
    right: 20px;
    background-image: url('../assets/player-logo/slider-next.svg');
}

.time {
    min-height: 100px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

/* greeting--------------------------------------------------------------------------------------------------------------------------------------------------- */

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 40px;
    width: 100vw;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 0px 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

/* footer--------------------------------------------------------------------------------------------------------------------------------------------- */
/*quote block---------------------------------------------------------------------------------------------------------------------------------------   */
.quote-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 0px 20px 40px;
}

.change-quote {
    margin-bottom: 30px;
    background-image: url('../assets/player-logo/reload.svg');
}

.quote {
    min-height: 32px;
}

.author {
    min-height: 20px;
}

/* applications--------------------------------------------------------------------------------------------------------------------------------------- */
.aplications-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 0px;
}

/* todo-list------------------------------------------------------------------------------------------------------------------------------------------- */
.todo-icon {
  width: 45px;
  height: 45px;
  background: url("../assets/logo/document_paperclip_list_paper_icon_219514.svg") center/cover;
}

/* settings------------------------------------------------------------------------------------------------------------------------------------------- */
.settings-icon {
  width: 40px;
  height: 40px;
  background: url("../assets/logo/gtkabout.png") center/cover;
}

.overlay {
  position: fixed; 
  width: 100%;
  height: 100%;
  bottom: 0;
  left:0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 33, 33, 0.7);
  cursor: pointer;
}

.target {
  opacity: 1;
  visibility:visible;
}

.settings-block {
  position: fixed;
  width: 340px;
  height: 500px;
  bottom: 75px;
  right: 40px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(15, 153, 198, 0.6);
  transition: transform 0.5s ease-out, top 0.5s ease-out;
  transform: translateY(120%);
  z-index: 99;
}

.settings-block.active {
  transform: translateY(0%);
  transition: transform 0.5s ease-out, bottom 0.5s ease-out;
}

.settings-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.swich-block {
  display: flex;
}

.swich-block > *:not(:last-child) {
  margin-right: 10px;
}

.toggle-block {
    width: 40px;
    height: 18px;
    display: block;
    position: relative;
    border-radius: 10px;
    background-color: #d9d5e7;
    cursor: pointer;
}

.indicator {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 1px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #0b4661, #00ffff);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.indicator.active {
    left: 20px;
}



.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.footer-item {  
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.footer-link {
    padding:0 40px;
    transition: box-shadow 0.7s ease-out 0s;
}

.settings-icon:hover,
.todo-icon:hover,
.footer-link:hover {
    filter: drop-shadow(0.3125rem 0.3125rem 1.875rem #76f8f8);
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}
